*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background:rgb(176, 230, 226);
}

.container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  padding:100px;
  height:auto;
}

.title{
  color:#fff;
}

.left-side{
  background:blue;
  height:250vh;
  width:100%;
  flex-basis: 30%;
  padding:20px 20px;
}
.left-side .info{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding-bottom:15px;
  border-bottom: 1px solid rgb(176, 230, 226);
}

.info .name-title{
  width:100%;
  color:#fff;
}
.name-title h2{
  letter-spacing:2px;
  margin-top:10px;
  padding-left:40px;
}

.name-title h4{
  letter-spacing:1px;
  margin-top:10px;
  padding-left:10px;
  color:rgb(176, 230, 226);
}

.pic img{
  width:200px;
  border-radius:50%;
}

.name-title{

}

.contact{
  margin-top:20px;
  color:#fff;
}
.cont-items{
  margin-top:10px;
}

.cont-items ul{

}

.cont-items ul li{
  list-style-type: none;
  padding:10px;
}

span.icon{
  padding:10px;
}
span.text{
  color:aquamarine;
}

.edu-items{
  margin-top:10px;
  color:aquamarine;
}

.education,.language h2{
  margin-top:15px;
  color:#fff;

}

.edu-items ul{
  
}

.edu-items ul li{
  list-style-type:none;
  padding:10px;
  display:flex;
  flex-direction:column;
}

.edu-items ul li span{
  padding:4px;
}

.edu-items ul li .year{
  color:#fff;
  letter-spacing: 1px;
}

.edu-items ul li .inst{
}

.lang-items ul{

}

.lang-items ul li{
  list-style-type:none;
  padding:10px;
}

.percentage{
  position:relative;
  width:100%;
  height:6px;
  background:#f00;
  display:block;
  margin-top:5px;
  border-radius: 8px;
}

.percentage div{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  background:aquamarine;
}

/*the right side*/
.right-side{
  background:#fff;
  height:250vh;
  width:100%;
  flex-basis: 70%;
  padding:20px;
}

.profile h2{

}

.profile p{
  margin-top:10px;
  letter-spacing: .5px;
  font-size:16px;
  font-weight:500;
}

.experience{
  margin-top: 20px;
  width:100%;
  height:75vh;
}
.experience .item{
  margin-top:10px;
  display:flex;
  flex-direction:row;
  width:100%;
  height:15vh;
}
.experience .item .left{
  flex-basis: 20%;
  width:100%;
  background:#fff;
}
.experience .item .right{
  flex-basis:70%;
  width:100%;
  background:#fff;
}

.experience p{
  margin-top:5px;
}
.experience .right h4{
  color:cadetblue;
}

.skills{
  padding:10px;
  margin-top: 20px;

}

.skills .box{
  margin:5px;
  padding:10px;
}

.hobby{
  margin-top:20px;
}

.hobby ul{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  background:;
  padding:20px;
}

.hobby ul li{
  list-style: none;
  padding:10px;
  background:blue;
  border-radius: 8px;
}