*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background:rgb(106, 211, 230);
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.container{
  position:relative;
  width:100%;
  max-width: 1000px;
  background:#fff;
  display:grid;
  grid-template-columns: 1fr, 2fr;
  box-shadow:0 35px 55px rgba(0,0,0,0.1);
  margin:50px;

}

.left-side{
  background:#003147;
  padding:40px;
  position:relative;
}

.right-side{
  background:#fff;
  padding:40px;
  position:relative;
}