*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background:rgb(106, 211, 230);
}

.container{
  padding:50px;
  display:grid;
  grid-template-columns:1fr, 2fr;
}

.left-side{
  background:blue;
  width:100%;
  height:50px;
}

.right-side{
  background:#fff;
  width:100%;
  height:50px;
}